/* Write your CSS here */
*{
  font-family: Roboto;
}
.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .heading {
    color: #0b69ff;
  }
  .box-container {
    padding: 60px;
    border-radius: 20px;
    cursor: pointer;

  }
  .button {
    background-color: #0b69ff;
    height: 30px;
    width: 70px;
    border-width: 0px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
  }
  
  .random-number {
    color: #0b69ff;
    font-size: 50px;
    font-family: roboto;
  }
  